{% extends 'layout.html' %}
{% block title %}My Details{{ super() }}{% endblock %}

{% block body %}
    <div class="container login_details">
    <table class="login_details_table col-md-10 mx-auto">
        <tr>
            <td>
                <strong>First Name: </strong>
            </td>
            <td>
                {{ user.first_name }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Last Name: </strong>
            </td>
            <td>
                {{ user.last_name }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Email Address: </strong>
            </td>
            <td>
                {{ user.email_address }}
            </td>
        </tr>
    </table>
    <div class="login_details_btngroup">
        <a href="{{ url_for('edit_login_details', user_id = current_user.id) }}"><button type="button" class="btn edit_details">Edit Details</button></a>
        <a href="{{ url_for('reset_password', user_id = current_user.id) }}"><button type="button" class="btn reset_password">Reset Password</button></a>
    </div>
    </div>
{% endblock %}