{% macro render_field(field) %}
    {% if field.type == 'BooleanField' %}
        <div class="checkbox mx-auto">
            <label>
                {{ field(class_=class_, **kwargs) }}
                {{ field.label.text|safe }}
            </label>
        </div>
    {% elif field.type == "RadioField" %}
        <label class="radio-inline">
        {{ field(placeholder=field.label.text, class="radio_button") }}
        </label>
    {% else %}
        <div class="field">
            {%  if field.errors %}
                {% for error in field.errors %}
                    <div class="notification error">{{ error }}</div>
                {% endfor %}
            {% endif %}
            <!--Creates a text box hint with the same value as our label is forms.py-->
            {{ field(placeholder=field.label.text, class="field", id=field.label.text) }}
        </div>
    {% endif %}
{% endmacro %}